@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body{ 
    font-family: Roboto Slab, Arial;
    width: 100%;
    height: 100%;
}

#header {
    position: fixed;
      top: 0;
      left: 0;
      right:  0;
      background: #420505;
      overflow-y: auto;
      width: auto;
      transition: all ease-in-out 0.5s;
      padding: 0 15px;
      z-index: 9997;
}



.navbar-brand{
    font-size: 24px;  
    margin: 0;
    padding: 0;
    font-weight: 600; 
    text-align: center;
    color: rgb(255, 255, 255)
}

.navbar-nav{
    padding: auto;
}

.navbar-nav a,
.navbar-nav a:focus{
    text-align: right;
    align-items: right;
    color: #c4c4c4;
    transition: 0,3s;
    font-size: 15px;
}
.navbar-nav a i,
.navbar-nav a:focus i{
    text-align: right;
    align-items: right;
    color: #ffffff;
    transition: 0,3s;
    font-size: 15px;
}


.navbar-nav a:hover,
.navbar-nav .active,
.navbar-nav .active:focus,
.navbar-nav li:hover > a {
    text-decoration: none;
    color: rgb(231, 180, 12);
}

.navbar-nav a:hover i,
.navbar-nav .active i,
.navbar-nav .active:focus i,
.navbar-nav li:hover > a i {
    text-decoration: none;
    color: rgb(231, 180, 12);
}

section#inicio{
    background-color: lightgray;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    width: 100%;
    height: 100vh;


}

